/* Legacy - not used */
.padded-multiline { 
  line-height: 1.3; 
  padding: 2px 0; 
  border-left: 20px solid #000;
  margin: 20px auto;
}
.padded-multiline p { 
  background-color: #000;
  padding: 4px 0;
  color: #fff; 
  display: inline;
  margin: 0; 
}
.padded-multiline p span { 
  position: relative;
  left: -10px; 
}

.logo-responsive img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.colored-text-black-phone {
  color: #000 !important;
}

.colored-text-black span {
  color: #000 !important;
}

.colored-text-white span {
  color: #fff !important;
}

.bottom-align {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-height: 730px) {
  .bottom-align {
    bottom: 2% !important;
  }
  
  header .header-content .header-content-inner hr {
    margin: 10px auto !important;
  }
}

.yandexmaps-container {
  max-width: 500px;
  height: 350px;
  margin: 0 auto;
}

.gcalendar-container {
  max-width: 800px;
  max-height: 600px;
  margin: 0 auto;
}

/* Responsive iFrame */
.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
 
.responsiveCal iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto !important;
  float: none !important;
  width: 100%;
  max-width: 600px;
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break:normal;
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}
.tg .tg-baqh {
  text-align: center;
  vertical-align: top;
}
.tg .tg-yw4l {
  vertical-align:top;
}


/*!
 * Start Bootstrap - Thumbnail Gallery HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

.thumb {
    margin-bottom: 30px;
}
